@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');



*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.menu-btn,
.mobile-nav{
    display:none;
}

.desktop-nav{
    display:flex;
    gap:2rem;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    gap: 8rem;
    display: flex;
    align-items: center;

    padding: 20px 0;
    color: #fff;

    background-color: #b300ff;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border-bottom: 1px solid transparent;

    border-radius: 0 0 40px 40px;
    z-index: 1000;

    transition: background .3s ease,
                backdrop-filter .3s ease,
                box-shadow .3s ease,
                border-color .3s ease;
}

header.scrolled {
    background: rgba(140, 82, 255, 0.35);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 8px 30px rgba(0,0,0,.15);
}

header ul, li {
    list-style: none;
    margin: 10px;
    padding: 5px;
    justify-items: center;
}

header h1 {
    font-size: 40px;
    margin-left: 3rem;
    padding: 0;
    color: #fff;
}


nav{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 40px;
    transition: 0.3s;
}

nav a:hover{
    color: #b300ff;
    transform: translateY(-1rem);
    background-color: #f8f8f8;
    padding: 1rem 2rem;
    font-size: 22px;
    border-radius: 40px;

}

@media (max-width:992px){

    header{
        
        
        justify-content: space-between;
        padding: 20px 0;
        
    }

    header h1{
        font-size:28px;
        margin-left: 2rem;
    }

    .desktop-nav{
        display:none;
    }

    .menu-btn{

        display:flex;
        justify-content:center;
        align-items:center;

        margin-right:2rem;

        width:55px;
        height:55px;

        border:none;
        border-radius:50%;

        background:#fff;
        color:#b300ff;

        font-size:34px;

        cursor:pointer;

        z-index:1002;

    }

    .mobile-nav {
    display: flex;
    flex-direction: column;

    position: fixed;

    top: 126px;
    right: -300px;

    width: 230px;
    padding: 25px;

    border-radius: 30px;

    background: #b300ff;

    transition:
        .35s,
        background .3s ease,
        backdrop-filter .3s ease,
        box-shadow .3s ease,
        border-color .3s ease;

    z-index: 1001;
}

.mobile-nav.active {
    margin-top: 1.5rem;
    right: 1px;
}

.mobile-nav.scrolled {
    background: rgba(140, 82, 255, 0.35);

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(255, 255, 255, .15);
    box-shadow: 0 8px 30px rgba(0, 0, 0, .15);
}

    

    .mobile-nav a{

        background:#fff;

        color:#b300ff;

        padding:16px;

        margin:8px 0;

        border-radius:999px;

        text-align:center;

        text-decoration:none;

        font-weight:bold;

    }

    

}