@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --bg: #ffffff;
    --surface: #f5f5f5;
    --text: #171821;
    --text-secondary: #555555;
    --primary: #b300ff;
    --border: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --bg: #171821;
    --surface: #20212c;
    --text: #ffffff;
    --text-secondary: #bdbdbd;
    --border: rgba(255, 255, 255, 0.15);
}

body {
    margin: 0;
    min-height: 100vh;

    color: var(--text);
    background-color: var(--bg);

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

a {
  text-decoration: none;
}

/*MAIN COLORS*/

.primary-background{
   background-color: #0C67F2;
}

.primary-color{
   background-color: #0C67F2;
}

.secondary-background{
   background-color: #1d1d11;
}

.secondary-color{
   background-color: #1d1d11;
}

.tertiary-background{
   background-color: #f6f6f6;
}

.tertiary-color{
   background-color: #f6f6f6;
}

/* GRID DE ORGANIZAÇÕS*/

.container {
   margin: 0 auto;
   width: 100%;
   max-width: 1140px;
   position: relative;
   padding: 0 30px;
   gap: 22px;
}

.al-center{
   align-items: center;
}

.al-end{
   align-items: end;
}

.d-flex{
   display: flex;
}

.fd-column{
  flex-direction: column;
}

.jc-center{
   justify-content: center;
}

.jc-end{
   justify-content: end;
}

.jc-space-between{
   justify-content: space-between;
}

@media (max-width: 768px){
   .container{
      width: 90%;
   }

   .mobile-fd-column{
      flex-direction: column;
   }
}