@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner-start{
    max-width:1200px;
    width:calc(100% - 40px);

    margin:8rem auto 0;

    background-image:url(../../assets/image.png);
    background-size:cover;
    background-position:center;

    border-radius:40px;

    box-shadow:rgba(100,100,111,.2) 0 7px 32px;

    overflow:hidden;
}


.banner-content{

    max-width:700px;

    padding:120px 40px;

}

#banner-h1{

    color:#1D1D1D;
    font-size:clamp(2.3rem,5vw,4rem);

    line-height:1.15;

    background: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem;
    border-radius: 40px;

}


#banner-btn{

    padding:20px 40px;
    transition:.3s;

    border: none;
    border-radius:40px;

    background: #1D1D1D;
    color: #fff;

}

#banner-btn:hover{

    transform:translateY(-4px) scale(1.03);
    background-color:#b300ff;
    box-shadow:0 12px 30px rgba(0,0,0,.2);

}

#banner-p{

    font-size:clamp(1rem,2vw,1.4rem);

    line-height:1.7;

    text-align:left;

    max-width:650px;

    color:#1D1D1D;

    background: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem;
    border-radius: 40px;

}

@media (max-width:992px){

    .banner-content{

        padding:90px 30px;

    }

}

@media (max-width:768px){

    .banner-start{

        width:calc(100% - 20px);

        border-radius:25px;

    }

    .banner-content{

        padding:60px 20px;

        text-align:center;

    }

    #banner-h1{

        border-radius:25px;

    }

    #banner-p{

        text-align:center;

        border-radius:25px;

    }

    #banner-btn{

        width:100%;

        max-width:320px;

    }

}