@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner-start{
    max-width: 1201px;
    width: 100%;
    background-image: url(../../assets/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 32px;
    margin-top: 8rem;
}


.banner-content{
    margin-left: 20px;
    padding: 20vh 2vh;
    gap: 21px;
}

#banner-h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 65px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem;
    border-radius: 40px;

}


#banner-btn{
    color: #FFFFFF;
    background-color: #1D1D1D;
    border: none;
    padding: 26px 50px;
    border-radius: 18px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    transition: 0.3s;

    &:hover{
        font-size: 20px;
        transform: translateY(-3px);
    }
}

#banner-p {
    font-size: 22px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 1rem;
    border-radius: 40px;

    text-align: center;
}